= form_for @marker do |f|
  - if @marker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@marker.errors.count, "error")} prohibited this marker from being saved:"
      %ul
        - @marker.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ranger_id
    = f.text_field :ranger_id
  .field
    = f.label :place_type_id
    = f.text_field :place_type_id
  .field
    = f.label :lat
    = f.number_field :lat
  .field
    = f.label :lng
    = f.number_field :lng
  .actions
    = f.submit 'Save'
