%h1 Listing markers

%table.table
  %thead
    %tr
      %th Ranger
      %th
      %th Place
      %th Points
      %th Type
      %th
      %th
      %th

  %tbody
    - @markers.each do |marker|
      %tr
        %td= marker.ranger.email
        %td= image_tag marker.ranger.img_url
        %td= marker.place.name
        %td= marker.points
        %td= image_tag marker.place_type.img_url
        %td= link_to 'Show', marker
        %td= link_to 'Edit', edit_marker_path(marker)
        %td= link_to 'Destroy', marker, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Marker', new_marker_path
