= render partial: 'map'
%h1 Eco Rangers
.container.welcome
  .row
    .col-lg-1
      %ul.undecorated
        - @place_types.each do |place_type|
          %li
            %button.place_type.btn.btn-default.active(data-place-type-id="#{place_type.id}")
              = image_tag place_type.img_url
        - @rangers.each do |ranger|
          %li
            %button.place_type.btn.btn-default(data-ranger-id="#{ranger.id}" data-toggle="tooltip" data-placement="right" title="#{ranger.email}")
              = image_tag ranger.img_url
    .col-lg-11
      .map_container
        #map
        #background
        .fox
