%h1 Listing place_types

%table.table
  %thead
    %tr
      %th
      %th Name
      %th Description
      %th Status
      %th
      %th
      %th

  %tbody
    - @place_types.each do |place_type|
      %tr
        %td= image_tag place_type.img_url, {size: "32x32"}
        %td= place_type.name
        %td= place_type.description
        %td= place_type.status
        %td= link_to 'Show', place_type
        %td= link_to 'Edit', edit_place_type_path(place_type)
        %td= link_to 'Destroy', place_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Place type', new_place_type_path
= link_to 'Home', root_path
